body{
  background-color:gray;
}

header{
  background-color:gray;
  text-align: center;
  height: 400px;
  position: relative;

}

header div{
  display: inline-block;
  width: 49%;
}

header img{
  position: absolute;
  bottom: 100px;
  height: 300px;

}

nav{
background-color:gray;
}



article img{
height: 250px
}

article{
  display: inline-block;
  width: 49%;
}

footer{
  background-color:gray;
}

footer img{
  width: 50px;
}

footer img:hover{
  box-shadow: rgb(0, 0, 0) 0px 3px 35px 1px;
}

footer h4{
  text-align: right;
  box-shadow: rgb(0, 0, 0) 0px 3px 35px 1px;
}

title{
text-align:center;
}

li{
    display: inline-block;
    list-style-type:none;
}
.sombra{
  text-shadow: 2px 4px 4px #1C6EA4;
  text-shadow: 2px 6px 4px #5F40A4;
}

.navegacion li{
  display: inline-block;
  list-style-type:none;
}

.myButton {
color:white;
margin: 10px;
font-size: 14px;
line-height: 14px;
padding: 9px;
border-radius: 7px;
font-family: Georgia, serif;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
box-shadow: rgb(0, 0, 0) 0px 3px 35px 1px; border: 2px solid rgb(28, 110, 164);
display: inline-block;}

.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }

.seccion1{
  position:relative;
  background-color: olive;
  height: 600px;
}
.seccion1 h2{
  text-align: center;
  padding: 20px;
}

.columna1{
  position: absolute;
  top:50px;
  left: 10px;
}
.columna2{
  position: absolute;
  top:50px;
  right: 10px;
}
.section2{
  background-color: lavender;
}
